@model string

<div id="orient" class="text-center">
    <h2 class="secondary-title">Orient</h2>
    
    <div class="loader" style="display: none"></div>

    <div id="slider" class="slider-wrapper">
        <button class="slide-arrow" id="slide-arrow-prev">
        &#8249;
        </button>
        <button class="slide-arrow" id="slide-arrow-next">
        &#8250;
        </button>
          
        <ul class="slides-container" id="slides-container">
        </ul>
    </div>

    <div id="images-display">
        <div id="images-container" class="p-row">
            
        </div>
    </div>
</div>

@section Scripts {  
    <script>

         function displayBase64Images(base64Images) {
             if (!base64Images)
                return;

            $(sliderPlaceholder).append(`
                <li>
                    <img src="` + base64Images[0] + `" />
                </li>`
            );
            9ii
            
            for (let image of base64Images) {
                $(imagesPlaceholder).append(`
                    <div class="p-tab">
                        <img src="` + image + `" />
                    </div>`
                );
            }
        }

        function onSuccess(result) {
            let base64Images = result.value
                .map(b64 => 'data:image/jpeg;base64,' + b64);
            displayBase64Images(base64Images)
        }

        function onError(req, status, error) {
            // Do nothing
        }

        let sliderPlaceholder = $('#slides-container');
        let imagesPlaceholder = $('#images-container');

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAlbum")\?name=@Model",
            dataType: "json",
            success: onSuccess,
            error: onError
        });

    </script>
}