@model string

<div>
    <h2 class="secondary-title">@Model</h2>
    
    <div id="spinner" class="vh-100 d-flex justify-content-center">
        <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <div id="images-display" class="min-vh-100">
        <div id="images-container" class="p-row">
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAlbum")\?name=@Model",
            dataType: "json",
            success: onSuccess
        });

        function onSuccess(result) {
            if (!result || !result.value) {
                displayNoResult();
                return;
            }
            let base64Images = result.value.map(b64 => 'data:image/jpeg;base64,' + b64);
            displayBase64Images(base64Images)
        }

        function displayBase64Images(base64Images) {
            console.log('inside displayBase64');
            console.log(base64Images);
            $("#spinner").remove();
            for (let image of base64Images) {
                $(imagesPlaceholder).append('<div class="p-tab"><img src="' + image + '" /></div>');
            }
        }

        function displayNoResult() {
            $("#spinner").remove();
            $(imagesPlaceholder).append('<h3>No images</h3>');
        }

        let imagesPlaceholder = $('#images-container');
    </script>
}