@model IEnumerable<NickyPortfolio.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<div id="orient" class="fade-effect fade">
    <h2>Orient</h2>
    <div class="back-btn" onclick="accessGallery()">BACK</div>
        
    <div id="slider" class="slider-wrapper">
        <button class="slide-arrow" id="slide-arrow-prev">
        &#8249;
        </button>
          
        <button class="slide-arrow" id="slide-arrow-next">
        &#8250;
        </button>
          
        <ul class="slides-container" id="slides-container">
        <img class="slide" src="images/orient/R0008071.JPG"/>
        </ul>
    </div>
</div>