@model string

<div id="orient" class="text-center">
    <h2>Orient</h2>
    
    <div id="slider" class="slider-wrapper">
        <button class="slide-arrow" id="slide-arrow-prev">
        &#8249;
        </button>
        <button class="slide-arrow" id="slide-arrow-next">
        &#8250;
        </button>
          
        <ul class="slides-container" id="slides-container">
        </ul>
    </div>
</div>

@section Scripts {  
    <script>
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAlbum")\?name=@Model",
            dataType: "json",
            success: onSuccess,
            error: onError
        });

        function displayBase64Image(placeholder, base64Image) {
            placeholder.html('');
            $(placeholder).append('<li><img src="' + base64Image + '" /></li>')
        }

        function onSuccess(result) {
            let test = 'data:image/jpeg;base64,' + result.value[0];
            console.log('Trying to display: ' + test);
            displayBase64Image(placeholder, test);
        }

        function onError(req, status, error) {
            // Do nothing for now
        }

        let placeholder = $('#slides-container');
    </script>
}