@model string

<div id="orient" class="text-center">
    <h2 class="secondary-title">Orient</h2>
    
    <div class="loader" style="display: none"></div>

    <div id="slider" class="slider-wrapper">
        <button class="slide-arrow" id="slide-arrow-prev">
        &#8249;
        </button>
        <button class="slide-arrow" id="slide-arrow-next">
        &#8250;
        </button>
          
        <ul class="slides-container" id="slides-container">
        </ul>
    </div>
</div>

@section Scripts {  
    <script>
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAlbum")\?name=@Model",
            dataType: "json",
            success: onSuccess,
            error: onError
        });

        function displayBase64Image(placeholder, base64Image) {
            $(placeholder).append('<li><img src="' + base64Image + '" /></li>')
        }

        function onSuccess(result) {
            let images64 = result.value.map(b64 => 'data:image/jpeg;base64,' + b64);
            
            placeholder.html('');
            for (let image of images64) {
                console.log(image);
                displayBase64Image(placeholder, image);
            }
        }

        function onError(req, status, error) {
            // Do nothing for now
        }

        let placeholder = $('#slides-container');
    </script>
}