@model Dictionary<string, string>

<div class="text-center">
    <div class="main">
        <div class="content">
            <div class="right">
                <h1 class="main-title"><span>Nicky Da Costa</span></h1>
                <div class="subtitle"><h3>Gallery</h3></div>
            </div>
            <div class="media-icons"></div>
        </div>
    </div>
    <div id="project" class="project">
        <div id="gallery">
            <h2 class="secondary-title">Albums</h2>
            <div class="gallery">
                <div class="p-row">
                    @foreach (KeyValuePair<string, string> album in Model)
                    {
                        <div class="p-tab">
                            <div class="p-title">@album.Key</div>
                            <div class="p-sub-title">2022</div>
                            <a asp-controller="Albums" asp-action="Index" asp-route-id="@album.Key">
                                @if (album.Value == String.Empty)
                                {
                                    <img class="p-thumb" src="./images/background.JPG">
                                }
                                else
                                {
                                    <img class="p-thumb" src="data:image/jpeg;base64,@album.Value">
                                }
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
